node_modules
npm-debug.log
yarn.lock
package-lock.json
ecosystem.config.js
*data.json
*data*
*.db
.idea/
*.bak
*.new
*.log
v8.json
*.DS_store
isolate*.log
.esm-cache
.sessionStorage
.localStorage
/types/**/*.ts
!/types/**/*.d.ts
/gun.ts
/temp/
*.swp
*.log

